name: Lint a flutter project

on:
  workflow_call:
    inputs:
      checkout-ref:
        description: The branch, tag or SHA to checkout. Defaults to the reference or SHA for that event.
        required: false
        type: string
      package-dir:
        description: Directory within the repository where the package is located
        required: false
        type: string

jobs:
  flutter-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.checkout-ref }}

      - uses: flutter-actions/setup-flutter@v4

      - name: Install dependencies
        run: flutter pub get
        working-directory: ${{ inputs.package-dir }}

      - name: Verify build_runner generated files
        run: |
          if dart pub deps --executables | grep -q build_runner; then
            dart run build_runner build --delete-conflicting-outputs
          fi
          [ -z "$(git status -s)" ]
        working-directory: ${{ inputs.package-dir }}

      - name: Verify generated localization files
        run: |
          if grep -q 'generate: true' pubspec.yaml; then
            flutter gen-l10n
          fi
          [ -z "$(git status -s)" ]
        working-directory: ${{ inputs.package-dir }}

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
        working-directory: ${{ inputs.package-dir }}

      - name: Analyse source code
        run: flutter analyze .
        working-directory: ${{ inputs.package-dir }}

      - name: Execute code_metrics
        run: |
          if flutter pub deps --executables | grep -q ac_code_metrics; then
            flutter run ac_code_metrics:metrics analyze .
          fi
        working-directory: ${{ inputs.package-dir }}
