name: Shellcheck

on:
  workflow_call:
    inputs:
      checkout-ref:
        description: The branch, tag or SHA to checkout. Defaults to the reference or SHA for that event.
        required: false
        type: string
      working-dir:
        description: "Directory within the repository where the package is located."
        required: false
        type: string

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout-ref }}

      - name: Lint shell scripts
        if: ${{ hashFiles('**/*.sh') != '' }}
        shell: bash # ensure
        run: shopt -s globstar && docker --context default run --rm -v $(pwd):/mnt koalaman/shellcheck:v0.10.0 **/*.sh
        working-directory: ${{ inputs.working-dir }}
