name: Test a Node.js project

on:
  workflow_call:
    inputs:
      checkout-ref:
        description: The branch, tag or SHA to checkout. Defaults to the reference or SHA for that event.
        required: false
        type: string
      node-package-manager:
        description: "Node.js package manager to use: npm, yarn or pnpm"
        required: true
        type: string
      node-version:
        description: "Version Spec of the Node.js version to use (takes precedence over node-version-file). Examples: 12.x, 10.15.1, >=10.15.0."
        required: false
        type: string
      node-version-file:
        description: "File containing the version Spec of the version to use. Examples: package.json, .nvmrc, .node-version, .tool-versions."
        required: false
        type: string
        default: ".nvmrc"
      package-dir:
        description: "Directory within the repository where the package is located."
        required: false
        type: string

jobs:
  node-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.checkout-ref }}
      - name: Install and enable corepack
        run: |
          npm install -g corepack
          corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
          node-version-file: ${{ inputs.node-version-file }}

      - name: Install dependencies (NPM)
        if: ${{ inputs.node-package-manager == 'npm' }}
        run: npm ci
        working-directory: ${{ inputs.package-dir }}

      - name: Install dependencies (Yarn)
        if: ${{ inputs.node-package-manager == 'yarn' }}
        run: yarn install
        working-directory: ${{ inputs.package-dir }}

      - name: Install dependencies (PNPM)
        if: ${{ inputs.node-package-manager == 'pnpm' }}
        run: pnpm i
        working-directory: ${{ inputs.package-dir }}

      - name: Execute tests
        run: ${{ inputs.node-package-manager }} test
        working-directory: ${{ inputs.package-dir }}
