name: Update Docker Hub repository informations

on:
  workflow_call:
    secrets:
      username:
        required: true
      password:
        required: true
      repository:
        description: 'Docker Hub repository (ie. <namespace>/<name>)'
        required: true
    inputs:
      checkout-ref:
        description: The branch, tag or SHA to checkout. Defaults to the reference or SHA for that event.
        required: false
        type: string
      readme-file:
        description: Path to the repository README file
        required: false
        type: string
        default: ./README.md
      short-description:
        description: Repository short description
        required: false
        type: string

jobs:
  update-docker-hub-repo-info:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout-ref }}

      - name: Log into Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      - name: Update Docker Hub repository description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}
          repository: ${{ secrets.repository }}
          readme-filepath: ${{ inputs.readme-file }}
          short-description: ${{ inputs.short-description }}
